@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  font-size: 62.5%;
  font-family: "Roboto Mono", serif;
  background-color: black;
  overflow-x: hidden;
  min-height: 100vh;
}

.align-content {
  padding: 3rem 10rem;
}

/* Header */

header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 20rem;
}

/* Navigation */
.nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  list-style: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
a.nav-link {
  white-space: nowrap;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a.nav-link:hover {
  color: orange;
}
/* Main section */
.promotion {
  background-color: rgba(255, 22, 22, 0.233);
  width: 100%;
  height: 10rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.promotion-img {
  max-width: 100%;
  max-height: 100%;
}
span {
  color: rgba(240, 173, 30, 0.884);
}
.promotion-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.5rem;
}
.promotion-text {
  font-size: 2rem;
  font-weight: 100;
  /* align-self: center;
  justify-self: center; */
}
.promotion-p {
  font-size: 0.8rem;
}
.services-text-container {
  margin-bottom: 2rem;
}
.services-text {
  font-size: 2rem;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding-bottom: 1rem;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.service_card {
  width: 23rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  transition: all 0.2s linear;
  /* overflow: hidden; */
  -webkit-box-shadow: -9px 17px 51px -2px rgba(252, 229, 136, 0.38);
  -moz-box-shadow: -9px 17px 51px -2px rgba(252, 229, 136, 0.38);
  box-shadow: -9px 17px 51px -2px rgba(252, 229, 136, 0.38);
}

.service_card:hover {
  transform: scale(1.01);
}

.service_card img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-info {
  margin-top: 1rem;
  padding: 2rem 1rem;
}
.service_title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.service-description {
  font-size: 1.1rem;
  font-weight: 300;
}

button.article-btn {
  color: #000;
  padding: 0.5rem 4rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

button.article-btn:hover {
  background-color: rgba(223, 163, 52, 0.822);
  color: #ffffffb6;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 8rem;
}
footer a {
  flex: 1;
}
footer div {
  flex: 1;
}

footer p {
  font-size: 0.8rem;
  text-align: right;
}
